  *{
color: aqua;
background-color: blue;
}
h1{
    background-color: rgb(255, 0, 212);
}
.red{
            color: red;

        }
        .yellow{
            color: yellow;
            background-color:orange;
        }
        .blue{
color: blue;
        }
