 @import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
      .p1 {
        color: red;
        font-family: Poppins;
        font-style: italic;
        font-weight: 600;
      }
      .hd1 {
        color: blueviolet;
        font-family: Bebas Neue; /*  this is Imported Font */
      }
      .hd2 {
        color: aqua;
        /* This is border For Font */
        text-shadow: -1px 0 0 #000, /* 1px left shadow */ 0 1px 0 #ff0000,
          /* 1px top shadow */ 1px 0 0 #000,
          /* 1px right shadow */ 0 -1px 0 #000; /* 1px bottom shadow */
      }
      .p2 {
        line-height: 200%; /*this is line hight spacing between line */
        /* Letter Space :  */
        letter-spacing: 1px;
      }
      .hd3 {
        color: #ff0000;
        font-size: 25px;
        /* this is use for letter first letter is capital  */
        text-transform: capitalize;
        text-decoration: underline;
        text-decoration-color: #0f8676;
        text-decoration-style: dotted;
      }
      .p3 {
        text-transform: lowercase;
      }