
        *{
          margin: 0;
          padding: 0;
        }
      .box {
        background-color: aqua;
      }
      .box1{ 
        padding: 10px;
        margin: 10px;
        border: 2px solid black;
        color: blue;
      }
      .box2{
color: violet;
      }