
      /* Element Selector */
      h1 {
        background-color: red;
        font-size: 17px;
        font-family: Verdana;
      }
      /* Class Selector */
      .Red {
        color: blue;
      }
      /* ID Selector */
      #categories {
        background-color: bisque;
      }
      /* Child Selector */
      div > p {
        color: cadetblue;
        font-size: 13px;
      }

      div > h1 {
        font-size: 15px;
        font-family: Courier New;
      }
    /* Descendant Selector */
    div article {
        color: brown;
    }
    /* Universal Selector */
    *{
        margin: 0;
        padding: 0;
    }
    /* Pseudo Selector */
 a:visited{
    color: rgb(255, 0, 0);
    background-color: blue;
 }
 a:link{
  color: rgb(21, 255, 0);
 }
 a:active{
  color: blueviolet;
 }
 a:hover{
  background-color: cyan;
 }
 p:first-child{
  color: rgb(249, 0, 141);
 }
